<a href="https://colab.research.google.com/github/meiqingli/dssj_summer2022/blob/main/dssj_publishing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data preprocessing (based on module 02 notebook 1)

In [ ]:
# Imports pandas for working with csv data
import pandas as pd 

# Github url with comments data
url_comments = 'https://gist.githubusercontent.com/meiqingli/5d83de4c508a0564359b2dd07c6839b1/raw/a83a44b0a85ac8ccc10f717495ff6a85c2f93878/comments.csv'

# Github url with post data
url_posts = 'https://gist.githubusercontent.com/meiqingli/2d128e1cac170d71b3820c51c6c3766e/raw/5be159378011713f1daaca4d683bb6875d11f61f/submissions.csv'

# Reads the csv comments file from github
df_comments = pd.read_csv(url_comments)

# Reads the csv posts file from github
df_posts = pd.read_csv(url_posts)

In [ ]:
# Tells us about the general shape of the dfs
df_comments.shape

(19538, 11)

In [ ]:
df_posts.shape

(7330, 18)

In [ ]:
# Shows us the first 5 rows in the dfs
df_comments.head()

,idint,idstr,created,author,parent,submission,body,score,subreddit,distinguish,textlen
0,26160907768,t1_c0nj1mg,1270490234,judycullins,t3_bmr3z,t3_bmr3z,8 great tips to start marketing your book onli...,1,publishing,NaN,68
1,26186732829,t1_c12wkd9,1287609142,inigo_montoya,t3_dtpk6,t3_dtpk6,I think it's extremely hard to find a salaried...,1,publishing,NaN,407
2,26186750085,t1_c12wxol,1287615269,[deleted],t1_c12wkd9,t3_dtpk6,"Honestly, I think I would be very happy either...",1,publishing,NaN,570
3,26186762112,t1_c12x6yo,1287619770,inigo_montoya,t1_c12wxol,t3_dtpk6,"Well, an acquisitions editor is a very differe...",1,publishing,NaN,926
4,26186949360,t1_c1317g0,1287704175,[deleted],t1_c12x6yo,t3_dtpk6,"Yes, ""not panning out"" is precisely where I am...",1,publishing,NaN,315

In [ ]:
df_posts.head()

,idint,idstr,created,self,nsfw,author,title,url,selftext,score,subreddit,distinguish,textlen,num_comments,flair_text,flair_css_class,augmented_at,augmented_count
0,12378361,t3_7db7d,1226647810,0,0,soulajax,Do-It-Yourself Book Press,http://nomediakings.org/doityourself/doityours...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN
1,16624895,t3_9wbun,1256143924,0,0,bookmarked,Blending the Old with the New: Backlist Titles...,http://www.thomasriggs.net/blog/index.php/2009...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN
2,17431958,t3_adml2,1260547827,0,0,bookmarked,A Little Something Extra,http://www.thomasriggs.net/blog/index.php/2009...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN
3,18945157,t3_ba26d,1267893136,0,1,editrixabby,The Private Collection 1970-1979 (NSFW),http://carnalnation.com/content/49457/501/priv...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN
4,19194572,t3_bfemk,1268992280,0,0,samuel123,Ebook Creation &amp; conversion Services,http://www.siliconchips-services.com/ebook-cre...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN

In [ ]:
# Allows us to see which columns our dfs have
list(df_comments)

['idint',
 'idstr',
 'created',
 'author',
 'parent',
 'submission',
 'body',
 'score',
 'subreddit',
 'distinguish',
 'textlen']

In [ ]:
list(df_posts)

['idint',
 'idstr',
 'created',
 'self',
 'nsfw',
 'author',
 'title',
 'url',
 'selftext',
 'score',
 'subreddit',
 'distinguish',
 'textlen',
 'num_comments',
 'flair_text',
 'flair_css_class',
 'augmented_at',
 'augmented_count']

In [ ]:
# Drops less useful columns from our dfs
# Made new dfs rather than overwriting the originals in case people have different thoughts about what to drop
# 'distinguish' column identifies whether the poster is a moderator, which is potentially interesting, but it's almost always empty so I dropped it
df_comments_short = df_comments.drop(['subreddit', 'distinguish'], axis=1)

In [ ]:
df_posts_short = df_posts.drop(['subreddit', 'url', 'distinguish', 'flair_text', 'flair_css_class', 'augmented_at', 'augmented_count'], axis=1)

In [ ]:
# To visualize the new dfs
df_comments_short.head()

,idint,idstr,created,author,parent,submission,body,score,textlen
0,26160907768,t1_c0nj1mg,1270490234,judycullins,t3_bmr3z,t3_bmr3z,8 great tips to start marketing your book onli...,1,68
1,26186732829,t1_c12wkd9,1287609142,inigo_montoya,t3_dtpk6,t3_dtpk6,I think it's extremely hard to find a salaried...,1,407
2,26186750085,t1_c12wxol,1287615269,[deleted],t1_c12wkd9,t3_dtpk6,"Honestly, I think I would be very happy either...",1,570
3,26186762112,t1_c12x6yo,1287619770,inigo_montoya,t1_c12wxol,t3_dtpk6,"Well, an acquisitions editor is a very differe...",1,926
4,26186949360,t1_c1317g0,1287704175,[deleted],t1_c12x6yo,t3_dtpk6,"Yes, ""not panning out"" is precisely where I am...",1,315

In [ ]:
df_comments_short.shape

(19538, 9)

In [ ]:
df_posts_short.head()

,idint,idstr,created,self,nsfw,author,title,selftext,score,textlen,num_comments
0,12378361,t3_7db7d,1226647810,0,0,soulajax,Do-It-Yourself Book Press,NaN,1,0,0
1,16624895,t3_9wbun,1256143924,0,0,bookmarked,Blending the Old with the New: Backlist Titles...,NaN,1,0,0
2,17431958,t3_adml2,1260547827,0,0,bookmarked,A Little Something Extra,NaN,1,0,0
3,18945157,t3_ba26d,1267893136,0,1,editrixabby,The Private Collection 1970-1979 (NSFW),NaN,1,0,0
4,19194572,t3_bfemk,1268992280,0,0,samuel123,Ebook Creation &amp; conversion Services,NaN,1,0,0

In [ ]:
df_posts_short.shape

(7330, 11)

In [ ]:
# Selects all rows that don't have 'removed' or 'deleted' in certain columns
df_comments_noBlanks = df_comments_short.loc[~df_comments_short['body'].isin(['[removed]', '[deleted]' ]),:]
df_posts_noBlanks = df_posts_short.loc[~df_posts_short['selftext'].isin(['[removed]', '[deleted]' ]),:]

In [ ]:
df_comments_noBlanks.shape
# Shows that 483 rows were removed

(19055, 9)

In [ ]:
df_posts_noBlanks.shape
# Shows that 1,174 rows were removed

(6156, 11)

In [ ]:
# Drops rows with null values in 'selftext' column (assuming we want to analyze 'selftext')
# Overwrites the previous dfs because I don't think we'll need access to the intermediate dfs (and I was running out of name ideas)
df_comments_noBlanks = df_comments_noBlanks.dropna(subset=['body'])
df_posts_noBlanks = df_posts_noBlanks.dropna(subset=['selftext'])

In [ ]:
df_comments_noBlanks.head()

,idint,idstr,created,author,parent,submission,body,score,textlen
0,26160907768,t1_c0nj1mg,1270490234,judycullins,t3_bmr3z,t3_bmr3z,8 great tips to start marketing your book onli...,1,68
1,26186732829,t1_c12wkd9,1287609142,inigo_montoya,t3_dtpk6,t3_dtpk6,I think it's extremely hard to find a salaried...,1,407
2,26186750085,t1_c12wxol,1287615269,[deleted],t1_c12wkd9,t3_dtpk6,"Honestly, I think I would be very happy either...",1,570
3,26186762112,t1_c12x6yo,1287619770,inigo_montoya,t1_c12wxol,t3_dtpk6,"Well, an acquisitions editor is a very differe...",1,926
4,26186949360,t1_c1317g0,1287704175,[deleted],t1_c12x6yo,t3_dtpk6,"Yes, ""not panning out"" is precisely where I am...",1,315

In [ ]:
df_comments_noBlanks.shape
# Shows that 1 more row was removed

(19054, 9)

In [ ]:
df_posts_noBlanks.head()

,idint,idstr,created,self,nsfw,author,title,selftext,score,textlen,num_comments
7,23221158,t3_dtpk6,1287554803,1,0,[deleted],I am a recent graduate with no experience in t...,"I have no industry experience in publishing, b...",2,1007,5
12,25888930,t3_few0y,1296782293,1,0,mostrasho,Help r/publishing! I just got offered a (volun...,The editor who offered it is fully aware that ...,2,1027,2
17,29705825,t3_hop5t,1306892178,1,0,YouveBeenOneUpped,Reprints - Are there average costs?,Hey All. How much do short excerpt reprints ty...,2,188,4
62,40519459,t3_o4h0j,1325799133,1,0,hobbitlover,Need a writing program that works in InDesign ...,We use Microsoft Word at our office but it cre...,3,579,3
63,40711806,t3_o8lfi,1326069991,1,0,[deleted],Online ebook cover creator recommendations,"Hey guys,\n\nAny good recommendations on where...",1,75,1

In [ ]:
df_posts_noBlanks.shape
# Shows that 3,768 more rows were removed

(2388, 11)

## Cleaning text data (based on module 02 notebook 1)

Text data collected in the real world is always going to be variable, which poses a challenge for analysis. But by reducing some of this variation, we can help improve our results. For example, if we are counting instances of the word `"weather"` in text, we might want the strings `"weather"`, `"weather."`, and `"Weather"` to all be counted as instances of the same word. However, in raw text form, these would be treated as separate strings. By performing text cleaning, we can standardize these cases and make our data easier to analyze. Some common preprocessing steps are:

- Removing punctuation
- Removing URLs
- Removing stopwords (non-content words like "a", "the", "is", etc.)
- Lowercasing
- Tokenization (e.g., splitting a sentence into distinct "chunks" or "tokens")
- Stemming, or removing the ends of words (e.g., places -> place)
- Lemmatization, or changing words to 'dictionary form' (e.g., runs, running, run -> run)

Fortunately, we don't need to code every one of these steps. Instead, we will use a package called [spaCy](https://spacy.io/) to do these things. If the text you'd like to process is general-purpose English language text (i.e., not domain-specific, like medical literature), `spaCy` is ready to use out-of-the-box. We will use the [`en_core_web_sm`](https://spacy.io/models/en/#en_core_web_sm) pipeline to cover the steps listed above.

In [ ]:
df_posts_noBlanks.head()

,idint,idstr,created,self,nsfw,author,title,selftext,score,textlen,num_comments
7,23221158,t3_dtpk6,1287554803,1,0,[deleted],I am a recent graduate with no experience in t...,"I have no industry experience in publishing, b...",2,1007,5
12,25888930,t3_few0y,1296782293,1,0,mostrasho,Help r/publishing! I just got offered a (volun...,The editor who offered it is fully aware that ...,2,1027,2
17,29705825,t3_hop5t,1306892178,1,0,YouveBeenOneUpped,Reprints - Are there average costs?,Hey All. How much do short excerpt reprints ty...,2,188,4
62,40519459,t3_o4h0j,1325799133,1,0,hobbitlover,Need a writing program that works in InDesign ...,We use Microsoft Word at our office but it cre...,3,579,3
63,40711806,t3_o8lfi,1326069991,1,0,[deleted],Online ebook cover creator recommendations,"Hey guys,\n\nAny good recommendations on where...",1,75,1

In [ ]:
# Imports spaCy
import spacy

# Loads the English preprocessing pipeline
nlp = spacy.load('en_core_web_sm')

# Parses the first r/publishing post
parsed_post = nlp(df_posts_noBlanks.selftext.iloc[0])
print(parsed_post)

I have no industry experience in publishing, but would very much like to enter the field - specifically, editing. It seems as if the usual catch-22 holds true: to get the job, you need experience; to get experience, you need a job. Finding entry-level work is proving very difficult. I live in Baltimore, MD and I feel that I've exhausted the obvious avenues, sending my resume and cover letter to every magazine, newspaper, publishing house, etc., that I can locate.

I am not opposed to internships, of course, but as I am not a college student, I tend to be excluded from consideration. Additionally, I have to support myself and so work-for-pay, in an obvious sense, takes priority.

I realize that there are only 10 readers in this subreddit, so this really is a shot in the dark, but I could use some advice from persons familiar with the industry. I've considered, as well, sending out a few emails to editors whose blogs I read, asking them for similar guidance. Would this be perceived as brazen?

In [ ]:
# Print each sentence in the parsed post
for idx, sentence in enumerate(parsed_post.sents):
    print(f'Sentence {idx + 1}')
    print(sentence)
    print('')

Sentence 1
I have no industry experience in publishing, but would very much like to enter the field - specifically, editing.

Sentence 2
It seems as if the usual catch-22 holds true: to get the job, you need experience; to get experience, you need a job.

Sentence 3
Finding entry-level work is proving very difficult.

Sentence 4
I live in Baltimore, MD and I feel that I've exhausted the obvious avenues, sending my resume and cover letter to every magazine, newspaper, publishing house, etc., that I can locate.

Sentence 5


I am not opposed to internships, of course, but as I am not a college student, I tend to be excluded from consideration.

Sentence 6
Additionally, I have to support myself and so work-for-pay, in an obvious sense, takes priority.

Sentence 7


I realize that there are only 10 readers in this subreddit, so this really is a shot in the dark, but I could use some advice from persons familiar with the industry.

Sentence 8
I've considered, as well, sending out a few emails to editors whose blogs I read, asking them for similar guidance.

Sentence 9
Would this be perceived as brazen?

In [ ]:
# Extract the first 15 items for the following properties of the parsed post

# The token text 
token_text = [token.orth_ for token in parsed_post][:15]   
# Part of speech 
token_pos = [token.pos_ for token in parsed_post][:15]   
# Lemma (or 'dictionary form')
token_lemma = [token.lemma_ for token in parsed_post][:15]
# Stop word? t/f
token_stop = [token.is_stop for token in parsed_post][:15]
# Puncutation? t/f
token_punct = [token.is_punct for token in parsed_post][:15]

# Make a dataframe with these items
pd.DataFrame(zip(token_text, token_pos, token_lemma, token_stop, token_punct),
             columns=['token_text', 'part_of_speech', 'token_lemma', 'token_stop', 'token_punct'])

    token_text part_of_speech token_lemma  token_stop  token_punct
0            I           PRON           I        True        False
1         have           VERB        have        True        False
2           no            DET          no        True        False
3     industry           NOUN    industry       False        False
4   experience           NOUN  experience       False        False
5           in            ADP          in        True        False
6   publishing           NOUN  publishing       False        False
7            ,          PUNCT           ,       False         True
8          but          CCONJ         but        True        False
9        would            AUX       would        True        False
10        very            ADV        very        True        False
11        much            ADV        much        True        False
12        like           VERB        like       False        False
13          to           PART          to        True        False
14       enter           VERB       enter       False        False

In [26]:
# preprocess the example sentence
test = nlp("That’s actually not true")
tokens = []
# For each token in the processed object
for token in test:
    # Check if the token is punctuation
    if not token.is_punct:
        # Append the lower-case lemma to the list
        tokens.append(token.lemma_.lower())
print(tokens)

['that', '’s', 'actually', 'not', 'true']

In [27]:
test = nlp("I'm you’re he's he's That's that’s he’s he's father's father’s")
tokens = [token.lemma_.lower() for token in test if not token.is_punct]
for i, tokens in enumerate(tokens):
    print(i, tokens)

0 i
1 be
2 you
3 ’re
4 he
5 be
6 he
7 be
8 that
9 be
10 that
11 ’s
12 he
13 ’s
14 he
15 be
16 father
17 's
18 father
19 ’s

In [28]:
test = nlp("I'm you’re he's he's That's that’s he’s he's father's father’s")
tokens = [token.lemma_.lower() if token.lemma_ != '-PRON-'
          else token.lower_
          for token in test if not token.is_punct and not token.is_digit]
leftover = ["'s",  "’s", "’"]
tokens_c = [token for token in tokens if not token in leftover]

for i, t in enumerate(tokens_c):
    print(i, t)

0 i
1 be
2 you
3 ’re
4 he
5 be
6 he
7 be
8 that
9 be
10 that
11 he
12 he
13 be
14 father
15 father

Preprocessing all data

In [29]:
from gensim.models.phrases import Phrases, Phraser

In [30]:
def clean(token):
    """Helper function that specifies whether a token is:
        - punctuation
        - space
        - digit
    """
    return token.is_punct or token.is_space or token.is_digit

def line_read(df, text_col='selftext'):
    """Generator function to read in text from df and get rid of line breaks."""    
    for text in df[text_col]:
        yield text.replace('\n', '')

def preprocess(df, text_col='selftext', allowed_postags=['NOUN', 'ADJ']):
    """Preprocessing function to apply to a dataframe."""
    for parsed in nlp.pipe(line_read(df, text_col), batch_size=1000, disable=["tok2vec", "ner"]):
        # Gather lowercased, lemmatized tokens
        tokens = [token.lemma_.lower() if token.lemma_ != '-PRON-'
                  else token.lower_ 
                  for token in parsed if not clean(token)]
        # Remove specific lemmatizations, and words that are not nouns or adjectives
        tokens = [lemma
                  for lemma in tokens
                  if not lemma in ["'s",  "’s", "’"] and not lemma in allowed_postags]
        # Remove stop words
        tokens = [token for token in tokens if token not in spacy.lang.en.stop_words.STOP_WORDS]
        yield tokens

In [32]:
# This may take a while
lemmas = [line for line in preprocess(df_posts_noBlanks)]

In [33]:
lemmas[0]

['industry',
 'experience',
 'publishing',
 'like',
 'enter',
 'field',
 'specifically',
 'editing',
 'usual',
 'catch-22',
 'holds',
 'true',
 'job',
 'need',
 'experience',
 'experience',
 'need',
 'job',
 'finding',
 'entry',
 'level',
 'work',
 'proving',
 'difficult',
 'live',
 'baltimore',
 'md',
 'feel',
 'exhausted',
 'obvious',
 'avenues',
 'sending',
 'resume',
 'cover',
 'letter',
 'magazine',
 'newspaper',
 'publishing',
 'house',
 'etc',
 'locate',
 'opposed',
 'internships',
 'course',
 'college',
 'student',
 'tend',
 'excluded',
 'consideration',
 'additionally',
 'support',
 'work',
 'pay',
 'obvious',
 'sense',
 'takes',
 'priority',
 'realize',
 'readers',
 'subreddit',
 'shot',
 'dark',
 'use',
 'advice',
 'persons',
 'familiar',
 'industry',
 'considered',
 'sending',
 'emails',
 'editors',
 'blogs',
 'read',
 'asking',
 'similar',
 'guidance',
 'perceived',
 'brazen']

Phrase Modeling with `gensim`

In [35]:
from gensim.models.phrases import Phrases, Phraser

# Create bigram and trigram models
bigram = Phrases(lemmas, min_count=10, threshold=100)
trigram = Phrases(bigram[lemmas], min_count=10, threshold=50)  
bigram_phraser = Phraser(bigram)
trigram_phraser = Phraser(trigram)

# Form trigrams
trigrams = [trigram_phraser[bigram_phraser[doc]] for doc in lemmas]

/usr/local/lib/python3.7/dist-packages/gensim/models/phrases.py:598: UserWarning: For a faster implementation, use the gensim.models.phrases.Phraser class
  warnings.warn("For a faster implementation, use the gensim.models.phrases.Phraser class")

In [36]:
# Join each into a string
trigrams_joined = [' '.join(trigram) for trigram in trigrams]
trigrams_joined[0]

'industry experience publishing like enter field specifically editing usual catch-22 holds true job need experience experience need job finding entry_level work proving difficult live baltimore md feel exhausted obvious avenues sending resume cover_letter magazine newspaper publishing house etc locate opposed internships course college student tend excluded consideration additionally support work pay obvious sense takes priority realize readers subreddit shot dark use advice persons familiar industry considered sending emails editors blogs read asking similar guidance perceived brazen'