<a href="https://colab.research.google.com/github/meiqingli/dssj_summer2022/blob/main/dssj_publishing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data preprocessing (based on module 02 notebook 1)

In [ ]:
# Imports pandas for working with csv data
import pandas as pd 

# Github url with comments data
url_comments = 'https://gist.githubusercontent.com/meiqingli/5d83de4c508a0564359b2dd07c6839b1/raw/a83a44b0a85ac8ccc10f717495ff6a85c2f93878/comments.csv'

# Github url with post data
url_posts = 'https://gist.githubusercontent.com/meiqingli/2d128e1cac170d71b3820c51c6c3766e/raw/5be159378011713f1daaca4d683bb6875d11f61f/submissions.csv'

# Reads the csv comments file from github
df_comments = pd.read_csv(url_comments)

# Reads the csv posts file from github
df_posts = pd.read_csv(url_posts)

In [ ]:
# Tells us about the general shape of the dfs
df_comments.shape

(19538, 11)

In [ ]:
df_posts.shape

(7330, 18)

In [ ]:
# Shows us the first 5 rows in the dfs
df_comments.head()

,idint,idstr,created,author,parent,submission,body,score,subreddit,distinguish,textlen
0,26160907768,t1_c0nj1mg,1270490234,judycullins,t3_bmr3z,t3_bmr3z,8 great tips to start marketing your book onli...,1,publishing,NaN,68
1,26186732829,t1_c12wkd9,1287609142,inigo_montoya,t3_dtpk6,t3_dtpk6,I think it's extremely hard to find a salaried...,1,publishing,NaN,407
2,26186750085,t1_c12wxol,1287615269,[deleted],t1_c12wkd9,t3_dtpk6,"Honestly, I think I would be very happy either...",1,publishing,NaN,570
3,26186762112,t1_c12x6yo,1287619770,inigo_montoya,t1_c12wxol,t3_dtpk6,"Well, an acquisitions editor is a very differe...",1,publishing,NaN,926
4,26186949360,t1_c1317g0,1287704175,[deleted],t1_c12x6yo,t3_dtpk6,"Yes, ""not panning out"" is precisely where I am...",1,publishing,NaN,315

In [ ]:
df_posts.head()

,idint,idstr,created,self,nsfw,author,title,url,selftext,score,subreddit,distinguish,textlen,num_comments,flair_text,flair_css_class,augmented_at,augmented_count
0,12378361,t3_7db7d,1226647810,0,0,soulajax,Do-It-Yourself Book Press,http://nomediakings.org/doityourself/doityours...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN
1,16624895,t3_9wbun,1256143924,0,0,bookmarked,Blending the Old with the New: Backlist Titles...,http://www.thomasriggs.net/blog/index.php/2009...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN
2,17431958,t3_adml2,1260547827,0,0,bookmarked,A Little Something Extra,http://www.thomasriggs.net/blog/index.php/2009...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN
3,18945157,t3_ba26d,1267893136,0,1,editrixabby,The Private Collection 1970-1979 (NSFW),http://carnalnation.com/content/49457/501/priv...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN
4,19194572,t3_bfemk,1268992280,0,0,samuel123,Ebook Creation &amp; conversion Services,http://www.siliconchips-services.com/ebook-cre...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN

In [ ]:
# Allows us to see which columns our dfs have
list(df_comments)

['idint',
 'idstr',
 'created',
 'author',
 'parent',
 'submission',
 'body',
 'score',
 'subreddit',
 'distinguish',
 'textlen']

In [ ]:
list(df_posts)

['idint',
 'idstr',
 'created',
 'self',
 'nsfw',
 'author',
 'title',
 'url',
 'selftext',
 'score',
 'subreddit',
 'distinguish',
 'textlen',
 'num_comments',
 'flair_text',
 'flair_css_class',
 'augmented_at',
 'augmented_count']

In [ ]:
# Drops less useful columns from our dfs
# Made new dfs rather than overwriting the originals in case people have different thoughts about what to drop
# 'distinguish' column identifies whether the poster is a moderator, which is potentially interesting, but it's almost always empty so I dropped it
df_comments_short = df_comments.drop(['subreddit', 'distinguish'], axis=1)

In [ ]:
df_posts_short = df_posts.drop(['subreddit', 'url', 'distinguish', 'flair_text', 'flair_css_class', 'augmented_at', 'augmented_count'], axis=1)

In [ ]:
# To visualize the new dfs
df_comments_short.head()

,idint,idstr,created,author,parent,submission,body,score,textlen
0,26160907768,t1_c0nj1mg,1270490234,judycullins,t3_bmr3z,t3_bmr3z,8 great tips to start marketing your book onli...,1,68
1,26186732829,t1_c12wkd9,1287609142,inigo_montoya,t3_dtpk6,t3_dtpk6,I think it's extremely hard to find a salaried...,1,407
2,26186750085,t1_c12wxol,1287615269,[deleted],t1_c12wkd9,t3_dtpk6,"Honestly, I think I would be very happy either...",1,570
3,26186762112,t1_c12x6yo,1287619770,inigo_montoya,t1_c12wxol,t3_dtpk6,"Well, an acquisitions editor is a very differe...",1,926
4,26186949360,t1_c1317g0,1287704175,[deleted],t1_c12x6yo,t3_dtpk6,"Yes, ""not panning out"" is precisely where I am...",1,315

In [ ]:
df_comments_short.shape

(19538, 9)

In [ ]:
df_posts_short.head()

,idint,idstr,created,self,nsfw,author,title,selftext,score,textlen,num_comments
0,12378361,t3_7db7d,1226647810,0,0,soulajax,Do-It-Yourself Book Press,NaN,1,0,0
1,16624895,t3_9wbun,1256143924,0,0,bookmarked,Blending the Old with the New: Backlist Titles...,NaN,1,0,0
2,17431958,t3_adml2,1260547827,0,0,bookmarked,A Little Something Extra,NaN,1,0,0
3,18945157,t3_ba26d,1267893136,0,1,editrixabby,The Private Collection 1970-1979 (NSFW),NaN,1,0,0
4,19194572,t3_bfemk,1268992280,0,0,samuel123,Ebook Creation &amp; conversion Services,NaN,1,0,0

In [ ]:
df_posts_short.shape

(7330, 11)

In [ ]:
# Selects all rows that don't have 'removed' or 'deleted' in certain columns
df_comments_noBlanks = df_comments_short.loc[~df_comments_short['body'].isin(['[removed]', '[deleted]' ]),:]
df_posts_noBlanks = df_posts_short.loc[~df_posts_short['selftext'].isin(['[removed]', '[deleted]' ]),:]

In [ ]:
df_comments_noBlanks.shape
# Shows that 483 rows were removed

(19055, 9)

In [ ]:
df_posts_noBlanks.shape
# Shows that 1,174 rows were removed

(6156, 11)

In [ ]:
# Drops rows with null values in 'selftext' column (assuming we want to analyze 'selftext')
# Overwrites the previous dfs because I don't think we'll need access to the intermediate dfs (and I was running out of name ideas)
df_comments_noBlanks = df_comments_noBlanks.dropna(subset=['body'])
df_posts_noBlanks = df_posts_noBlanks.dropna(subset=['selftext'])

In [ ]:
df_comments_noBlanks.head()

,idint,idstr,created,author,parent,submission,body,score,textlen
0,26160907768,t1_c0nj1mg,1270490234,judycullins,t3_bmr3z,t3_bmr3z,8 great tips to start marketing your book onli...,1,68
1,26186732829,t1_c12wkd9,1287609142,inigo_montoya,t3_dtpk6,t3_dtpk6,I think it's extremely hard to find a salaried...,1,407
2,26186750085,t1_c12wxol,1287615269,[deleted],t1_c12wkd9,t3_dtpk6,"Honestly, I think I would be very happy either...",1,570
3,26186762112,t1_c12x6yo,1287619770,inigo_montoya,t1_c12wxol,t3_dtpk6,"Well, an acquisitions editor is a very differe...",1,926
4,26186949360,t1_c1317g0,1287704175,[deleted],t1_c12x6yo,t3_dtpk6,"Yes, ""not panning out"" is precisely where I am...",1,315

In [ ]:
df_comments_noBlanks.shape
# Shows that 1 more row was removed

(19054, 9)

In [ ]:
df_posts_noBlanks.head()

,idint,idstr,created,self,nsfw,author,title,selftext,score,textlen,num_comments
7,23221158,t3_dtpk6,1287554803,1,0,[deleted],I am a recent graduate with no experience in t...,"I have no industry experience in publishing, b...",2,1007,5
12,25888930,t3_few0y,1296782293,1,0,mostrasho,Help r/publishing! I just got offered a (volun...,The editor who offered it is fully aware that ...,2,1027,2
17,29705825,t3_hop5t,1306892178,1,0,YouveBeenOneUpped,Reprints - Are there average costs?,Hey All. How much do short excerpt reprints ty...,2,188,4
62,40519459,t3_o4h0j,1325799133,1,0,hobbitlover,Need a writing program that works in InDesign ...,We use Microsoft Word at our office but it cre...,3,579,3
63,40711806,t3_o8lfi,1326069991,1,0,[deleted],Online ebook cover creator recommendations,"Hey guys,\n\nAny good recommendations on where...",1,75,1

In [ ]:
df_posts_noBlanks.shape
# Shows that 3,768 more rows were removed

(2388, 11)

## Cleaning text data (based on module 02 notebook 1)

Text data collected in the real world is always going to be variable, which poses a challenge for analysis. But by reducing some of this variation, we can help improve our results. For example, if we are counting instances of the word `"weather"` in text, we might want the strings `"weather"`, `"weather."`, and `"Weather"` to all be counted as instances of the same word. However, in raw text form, these would be treated as separate strings. By performing text cleaning, we can standardize these cases and make our data easier to analyze. Some common preprocessing steps are:

- Removing punctuation
- Removing URLs
- Removing stopwords (non-content words like "a", "the", "is", etc.)
- Lowercasing
- Tokenization (e.g., splitting a sentence into distinct "chunks" or "tokens")
- Stemming, or removing the ends of words (e.g., places -> place)
- Lemmatization, or changing words to 'dictionary form' (e.g., runs, running, run -> run)

Fortunately, we don't need to code every one of these steps. Instead, we will use a package called [spaCy](https://spacy.io/) to do these things. If the text you'd like to process is general-purpose English language text (i.e., not domain-specific, like medical literature), `spaCy` is ready to use out-of-the-box. We will use the [`en_core_web_sm`](https://spacy.io/models/en/#en_core_web_sm) pipeline to cover the steps listed above.

In [ ]:
df_posts_noBlanks.head()

,idint,idstr,created,self,nsfw,author,title,selftext,score,textlen,num_comments
7,23221158,t3_dtpk6,1287554803,1,0,[deleted],I am a recent graduate with no experience in t...,"I have no industry experience in publishing, b...",2,1007,5
12,25888930,t3_few0y,1296782293,1,0,mostrasho,Help r/publishing! I just got offered a (volun...,The editor who offered it is fully aware that ...,2,1027,2
17,29705825,t3_hop5t,1306892178,1,0,YouveBeenOneUpped,Reprints - Are there average costs?,Hey All. How much do short excerpt reprints ty...,2,188,4
62,40519459,t3_o4h0j,1325799133,1,0,hobbitlover,Need a writing program that works in InDesign ...,We use Microsoft Word at our office but it cre...,3,579,3
63,40711806,t3_o8lfi,1326069991,1,0,[deleted],Online ebook cover creator recommendations,"Hey guys,\n\nAny good recommendations on where...",1,75,1

In [ ]:
# Imports spaCy
import spacy

# Loads the English preprocessing pipeline
nlp = spacy.load('en_core_web_sm')

# Parses the first r/publishing post
parsed_post = nlp(df_posts_noBlanks.selftext.iloc[0])
print(parsed_post)

I have no industry experience in publishing, but would very much like to enter the field - specifically, editing. It seems as if the usual catch-22 holds true: to get the job, you need experience; to get experience, you need a job. Finding entry-level work is proving very difficult. I live in Baltimore, MD and I feel that I've exhausted the obvious avenues, sending my resume and cover letter to every magazine, newspaper, publishing house, etc., that I can locate.

I am not opposed to internships, of course, but as I am not a college student, I tend to be excluded from consideration. Additionally, I have to support myself and so work-for-pay, in an obvious sense, takes priority.

I realize that there are only 10 readers in this subreddit, so this really is a shot in the dark, but I could use some advice from persons familiar with the industry. I've considered, as well, sending out a few emails to editors whose blogs I read, asking them for similar guidance. Would this be perceived as brazen?

In [ ]:
# Print each sentence in the parsed post
for idx, sentence in enumerate(parsed_post.sents):
    print(f'Sentence {idx + 1}')
    print(sentence)
    print('')

Sentence 1
I have no industry experience in publishing, but would very much like to enter the field - specifically, editing.

Sentence 2
It seems as if the usual catch-22 holds true: to get the job, you need experience; to get experience, you need a job.

Sentence 3
Finding entry-level work is proving very difficult.

Sentence 4
I live in Baltimore, MD and I feel that I've exhausted the obvious avenues, sending my resume and cover letter to every magazine, newspaper, publishing house, etc., that I can locate.

Sentence 5


I am not opposed to internships, of course, but as I am not a college student, I tend to be excluded from consideration.

Sentence 6
Additionally, I have to support myself and so work-for-pay, in an obvious sense, takes priority.

Sentence 7


I realize that there are only 10 readers in this subreddit, so this really is a shot in the dark, but I could use some advice from persons familiar with the industry.

Sentence 8
I've considered, as well, sending out a few emails to editors whose blogs I read, asking them for similar guidance.

Sentence 9
Would this be perceived as brazen?

In [ ]:
# Extract the first 15 items for the following properties of the parsed post

# The token text 
token_text = [token.orth_ for token in parsed_post][:15]   
# Part of speech 
token_pos = [token.pos_ for token in parsed_post][:15]   
# Lemma (or 'dictionary form')
token_lemma = [token.lemma_ for token in parsed_post][:15]
# Stop word? t/f
token_stop = [token.is_stop for token in parsed_post][:15]
# Puncutation? t/f
token_punct = [token.is_punct for token in parsed_post][:15]

# Make a dataframe with these items
pd.DataFrame(zip(token_text, token_pos, token_lemma, token_stop, token_punct),
             columns=['token_text', 'part_of_speech', 'token_lemma', 'token_stop', 'token_punct'])

    token_text part_of_speech token_lemma  token_stop  token_punct
0            I           PRON           I        True        False
1         have           VERB        have        True        False
2           no            DET          no        True        False
3     industry           NOUN    industry       False        False
4   experience           NOUN  experience       False        False
5           in            ADP          in        True        False
6   publishing           NOUN  publishing       False        False
7            ,          PUNCT           ,       False         True
8          but          CCONJ         but        True        False
9        would            AUX       would        True        False
10        very            ADV        very        True        False
11        much            ADV        much        True        False
12        like           VERB        like       False        False
13          to           PART          to        True        False
14       enter           VERB       enter       False        False

In [26]:
# preprocess the example sentence
test = nlp("That’s actually not true")
tokens = []
# For each token in the processed object
for token in test:
    # Check if the token is punctuation
    if not token.is_punct:
        # Append the lower-case lemma to the list
        tokens.append(token.lemma_.lower())
print(tokens)

['that', '’s', 'actually', 'not', 'true']

In [27]:
test = nlp("I'm you’re he's he's That's that’s he’s he's father's father’s")
tokens = [token.lemma_.lower() for token in test if not token.is_punct]
for i, tokens in enumerate(tokens):
    print(i, tokens)

0 i
1 be
2 you
3 ’re
4 he
5 be
6 he
7 be
8 that
9 be
10 that
11 ’s
12 he
13 ’s
14 he
15 be
16 father
17 's
18 father
19 ’s

In [28]:
test = nlp("I'm you’re he's he's That's that’s he’s he's father's father’s")
tokens = [token.lemma_.lower() if token.lemma_ != '-PRON-'
          else token.lower_
          for token in test if not token.is_punct and not token.is_digit]
leftover = ["'s",  "’s", "’"]
tokens_c = [token for token in tokens if not token in leftover]

for i, t in enumerate(tokens_c):
    print(i, t)

0 i
1 be
2 you
3 ’re
4 he
5 be
6 he
7 be
8 that
9 be
10 that
11 he
12 he
13 be
14 father
15 father

Preprocessing all data

In [29]:
from gensim.models.phrases import Phrases, Phraser

In [30]:
def clean(token):
    """Helper function that specifies whether a token is:
        - punctuation
        - space
        - digit
    """
    return token.is_punct or token.is_space or token.is_digit

def line_read(df, text_col='selftext'):
    """Generator function to read in text from df and get rid of line breaks."""    
    for text in df[text_col]:
        yield text.replace('\n', '')

def preprocess(df, text_col='selftext', allowed_postags=['NOUN', 'ADJ']):
    """Preprocessing function to apply to a dataframe."""
    for parsed in nlp.pipe(line_read(df, text_col), batch_size=1000, disable=["tok2vec", "ner"]):
        # Gather lowercased, lemmatized tokens
        tokens = [token.lemma_.lower() if token.lemma_ != '-PRON-'
                  else token.lower_ 
                  for token in parsed if not clean(token)]
        # Remove specific lemmatizations, and words that are not nouns or adjectives
        tokens = [lemma
                  for lemma in tokens
                  if not lemma in ["'s",  "’s", "’"] and not lemma in allowed_postags]
        # Remove stop words
        tokens = [token for token in tokens if token not in spacy.lang.en.stop_words.STOP_WORDS]
        yield tokens

In [32]:
# This may take a while
lemmas = [line for line in preprocess(df_posts_noBlanks)]

In [33]:
lemmas[0]

['industry',
 'experience',
 'publishing',
 'like',
 'enter',
 'field',
 'specifically',
 'editing',
 'usual',
 'catch-22',
 'holds',
 'true',
 'job',
 'need',
 'experience',
 'experience',
 'need',
 'job',
 'finding',
 'entry',
 'level',
 'work',
 'proving',
 'difficult',
 'live',
 'baltimore',
 'md',
 'feel',
 'exhausted',
 'obvious',
 'avenues',
 'sending',
 'resume',
 'cover',
 'letter',
 'magazine',
 'newspaper',
 'publishing',
 'house',
 'etc',
 'locate',
 'opposed',
 'internships',
 'course',
 'college',
 'student',
 'tend',
 'excluded',
 'consideration',
 'additionally',
 'support',
 'work',
 'pay',
 'obvious',
 'sense',
 'takes',
 'priority',
 'realize',
 'readers',
 'subreddit',
 'shot',
 'dark',
 'use',
 'advice',
 'persons',
 'familiar',
 'industry',
 'considered',
 'sending',
 'emails',
 'editors',
 'blogs',
 'read',
 'asking',
 'similar',
 'guidance',
 'perceived',
 'brazen']

Phrase Modeling with `gensim`

In [35]:
from gensim.models.phrases import Phrases, Phraser

# Create bigram and trigram models
bigram = Phrases(lemmas, min_count=10, threshold=100)
trigram = Phrases(bigram[lemmas], min_count=10, threshold=50)  
bigram_phraser = Phraser(bigram)
trigram_phraser = Phraser(trigram)

# Form trigrams
trigrams = [trigram_phraser[bigram_phraser[doc]] for doc in lemmas]

/usr/local/lib/python3.7/dist-packages/gensim/models/phrases.py:598: UserWarning: For a faster implementation, use the gensim.models.phrases.Phraser class
  warnings.warn("For a faster implementation, use the gensim.models.phrases.Phraser class")

In [36]:
# Join each into a string
trigrams_joined = [' '.join(trigram) for trigram in trigrams]
trigrams_joined[0]

'industry experience publishing like enter field specifically editing usual catch-22 holds true job need experience experience need job finding entry_level work proving difficult live baltimore md feel exhausted obvious avenues sending resume cover_letter magazine newspaper publishing house etc locate opposed internships course college student tend excluded consideration additionally support work pay obvious sense takes priority realize readers subreddit shot dark use advice persons familiar industry considered sending emails editors blogs read asking similar guidance perceived brazen'

In [37]:
trigram_phraser["That", "was", "not", "a", "big", "deal"]

['That', 'was', 'not', 'a', 'big', 'deal']

In [38]:
len(bigram_phraser.phrasegrams.keys())

37

In [39]:
list(bigram_phraser.phrasegrams.keys())[:10]

[(b'entry', b'level'),
 (b'short', b'stories'),
 (b'having', b'trouble'),
 (b'query', b'letters'),
 (b'query', b'letter'),
 (b'greatly', b'appreciated'),
 (b'non', b'fiction'),
 (b'makes', b'sense'),
 (b'high', b'school'),
 (b'high', b'quality')]

In [41]:
[trigram for trigram in list(trigram_phraser.phrasegrams.keys())]

[(b'entry', b'level'),
 (b'cover', b'letter'),
 (b'love', b'hear'),
 (b'hey', b'guys'),
 (b'short', b'stories'),
 (b'having', b'trouble'),
 (b'query', b'letters'),
 (b'query', b'letter'),
 (b'literary', b'agents'),
 (b'greatly', b'appreciated'),
 (b'non', b'fiction'),
 (b'makes', b'sense'),
 (b'high', b'school'),
 (b'weeks', b'ago'),
 (b'thanks', b'advance'),
 (b'high', b'quality'),
 (b'foot', b'door'),
 (b'editorial', b'assistant'),
 (b'months', b'ago'),
 (b'years', b'ago'),
 (b'advice', b'appreciated'),
 (b'small', b'press'),
 (b'graphic', b'designer'),
 (b'literary', b'agent'),
 (b'creative', b'writing'),
 (b'google', b'play'),
 (b'social', b'media'),
 (b'print', b'demand'),
 (b'graphic', b'design'),
 (b'young', b'adult'),
 (b'red', b'flags'),
 (b'science', b'fiction'),
 (b'right', b'direction'),
 (b'greatly', b'appreciated_thank'),
 (b'grad', b'school'),
 (b'non', b'fiction_book'),
 (b'barnes', b'noble'),
 (b'coffee', b'table'),
 (b'trying', b'figure'),
 (b'word', b'count'),
 (b'pros', b'cons'),
 (b'target', b'audience'),
 (b'short', b'story'),
 (b'advice_greatly', b'appreciated'),
 (b'adobe', b'indesign'),
 (b'united', b'states'),
 (b'shed', b'light'),
 (b'kdp', b'select'),
 (b'beta', b'readers'),
 (b'public', b'domain'),
 (b'querying', b'agents'),
 (b'>', b'>'),
 (b'kdp', b'wizard')]

Saving files

In [43]:
# Inserting next to selftext column
df_posts_noBlanks.insert(loc=7, column='lemmas', value=trigrams_joined)
# Removing empty rows in lemmas
df_posts_noBlanks = df_posts_noBlanks[~df_posts_noBlanks['lemmas'].isin([''])]

In [44]:
df_posts_noBlanks.head()

,idint,idstr,created,self,nsfw,author,title,lemmas,selftext,score,textlen,num_comments
7,23221158,t3_dtpk6,1287554803,1,0,[deleted],I am a recent graduate with no experience in t...,industry experience publishing like enter fiel...,"I have no industry experience in publishing, b...",2,1007,5
12,25888930,t3_few0y,1296782293,1,0,mostrasho,Help r/publishing! I just got offered a (volun...,editor offered fully aware coming directly col...,The editor who offered it is fully aware that ...,2,1027,2
17,29705825,t3_hop5t,1306892178,1,0,YouveBeenOneUpped,Reprints - Are there average costs?,hey short excerpt reprints typically cost prof...,Hey All. How much do short excerpt reprints ty...,2,188,4
62,40519459,t3_o4h0j,1325799133,1,0,hobbitlover,Need a writing program that works in InDesign ...,use microsoft word office creates problems abl...,We use Microsoft Word at our office but it cre...,3,579,3
63,40711806,t3_o8lfi,1326069991,1,0,[deleted],Online ebook cover creator recommendations,hey_guys good recommendations ebook cover,"Hey guys,\n\nAny good recommendations on where...",1,75,1

## Exploring Texts with `pandas` and `nltk` (based on Model 2 notebook 02)

In [45]:
# Run if nltk is not installed
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.0)

In [46]:
# Sort dataframe by highest scores
df_posts_noBlanks.sort_values(by=['score'], ascending=False).head(3)

,idint,idstr,created,self,nsfw,author,title,lemmas,selftext,score,textlen,num_comments
6229,1132863253,t3_iqh6vp,1599788593,1,0,ASMEditorial,free publishing resources!,hi recently left penguin random house editor n...,Hi! I recently left Penguin Random House as an...,76,668,22
7285,1467404815,t3_o9nksv,1624896959,1,0,casstastic25,Just signed sixth author!,started indie digital publishing house october...,I started my own indie digital first publishin...,65,468,20
6848,1298123482,t3_lgvahm,1612968917,1,0,MiserableEqual,It should not be this hard to get into this in...,internships post graduation worked campus publ...,I've had two internships post-graduation and w...,64,1268,51

type-token Ratio (TTR)

In [48]:
def type_token_ratio(tokens):
    """Calculates type-token ratio on tokens."""
    numTokens = len(tokens)
    numTypes = len(set(tokens))
    return numTypes / numTokens

In [49]:
for text in df_posts_noBlanks['lemmas'][100:105]:
    tokens = text.split()
    print('Text:\n', text)
    print('TTR:', type_token_ratio(tokens), '\n')

Text:
 years saved money startup costs want start publishing house advice breaking market know basically business publishing looking resources learn worth business evening class
TTR: 0.9130434782608695

Text:
 tell lie finished novel want freedom find best route publishing possible young spiraling bit pissing naiveté means need buy time knock good stories quick like capable rock certain mental uniquenesses preventing holding jobs wonderful world typically habit asking advice humbly present /r publishing assistance self publishing publishing short fiction head water head water $ month live hovel write good 40,000 word story 10,000 word short_stories days live portland relevance answer merits appreciate advice recommendations dialogues etc thank time hopefully good comes
TTR: 0.8641975308641975

Text:
 lot publishing love discuss like hear people actually published publishing list related subreddits right panel seen r selfpublish r selfpublishing interested self publishing print_demand etc questions working professional distributors
TTR: 0.896551724137931

Text:
 review recommendation good qa software best practices non manufacturing publishing
TTR: 1.0

Text:
 looking pod service distribute large format color books amazon way lightning source create space suggestions pod service automatically set sales distribution amazon
TTR: 0.8636363636363636

Processing and Analyzing Language with `Text()`

In [50]:
tokens = []
for idx, row in enumerate(df_posts_noBlanks['lemmas']):
    # Notice that we put all tokens in the same list
    tokens.extend(row.split(' '))

In [51]:
import nltk
nltk.download('stopwords')
from nltk.text import Text

aita_tokens = Text(tokens)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [52]:
help(Text)

Help on class Text in module nltk.text:

class Text(builtins.object)
 |  Text(tokens, name=None)
 |
 |  A wrapper around a sequence of simple (string) tokens, which is
 |  intended to support initial exploration of texts (via the
 |  interactive console).  Its methods perform a variety of analyses
 |  on the text's contexts (e.g., counting, concordancing, collocation
 |  discovery), and display the results.  If you wish to write a
 |  program which makes use of these analyses, then you should bypass
 |  the ``Text`` class, and use the appropriate analysis function or
 |  class directly instead.
 |
 |  A ``Text`` is typically initialized from a given document or
 |  corpus.  E.g.:
 |
 |  >>> import nltk.corpus
 |  >>> from nltk.text import Text
 |  >>> moby = Text(nltk.corpus.gutenberg.words('melville-moby_dick.txt'))
 |
 |  Methods defined here:
 |
 |  __getitem__(self, i)
 |
 |  __init__(self, tokens, name=None)
 |      Create a Text object.
 |
 |      :param tokens: The source text.
 |      :type tokens: sequence of str
 |
 |  __len__(self)
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  __str__(self)
 |      Return str(self).
 |
 |  collocation_list(self, num=20, window_size=2)
 |      Return collocations derived from the text, ignoring stopwords.
 |
 |          >>> from nltk.book import text4
 |          >>> text4.collocation_list()[:2]
 |          [('United', 'States'), ('fellow', 'citizens')]
 |
 |      :param num: The maximum number of collocations to return.
 |      :type num: int
 |      :param window_size: The number of tokens spanned by a collocation (default=2)
 |      :type window_size: int
 |      :rtype: list(tuple(str, str))
 |
 |  collocations(self, num=20, window_size=2)
 |      Print collocations derived from the text, ignoring stopwords.
 |
 |          >>> from nltk.book import text4
 |          >>> text4.collocations() # doctest: +ELLIPSIS
 |          United States; fellow citizens; four years; ...
 |
 |      :param num: The maximum number of collocations to print.
 |      :type num: int
 |      :param window_size: The number of tokens spanned by a collocation (default=2)
 |      :type window_size: int
 |
 |  common_contexts(self, words, num=20)
 |      Find contexts where the specified words appear; list
 |      most frequent common contexts first.
 |
 |      :param words: The words used to seed the similarity search
 |      :type words: str
 |      :param num: The number of words to generate (default=20)
 |      :type num: int
 |      :seealso: ContextIndex.common_contexts()
 |
 |  concordance(self, word, width=79, lines=25)
 |      Prints a concordance for ``word`` with the specified context window.
 |      Word matching is not case-sensitive.
 |
 |      :param word: The target word or phrase (a list of strings)
 |      :type word: str or list
 |      :param width: The width of each line, in characters (default=80)
 |      :type width: int
 |      :param lines: The number of lines to display (default=25)
 |      :type lines: int
 |
 |      :seealso: ``ConcordanceIndex``
 |
 |  concordance_list(self, word, width=79, lines=25)
 |      Generate a concordance for ``word`` with the specified context window.
 |      Word matching is not case-sensitive.
 |
 |      :param word: The target word or phrase (a list of strings)
 |      :type word: str or list
 |      :param width: The width of each line, in characters (default=80)
 |      :type width: int
 |      :param lines: The number of lines to display (default=25)
 |      :type lines: int
 |
 |      :seealso: ``ConcordanceIndex``
 |
 |  count(self, word)
 |      Count the number of times this word appears in the text.
 |
 |  dispersion_plot(self, words)
 |      Produce a plot showing the distribution of the words through the text.
 |      Requires pylab to be installed.
 |
 |      :param words: The words to be plotted
 |      :type words: list(str)
 |      :seealso: nltk.draw.dispersion_plot()
 |
 |  findall(self, regexp)
 |      Find instances of the regular expression in the text.
 |      The text is a list of tokens, and a regexp pattern to match
 |      a single token must be surrounded by angle brackets.  E.g.
 |
 |      >>> print('hack'); from nltk.book import text1, text5, text9
 |      hack...
 |      >>> text5.findall("<.*><.*><bro>")
 |      you rule bro; telling you bro; u twizted bro
 |      >>> text1.findall("<a>(<.*>)<man>")
 |      monied; nervous; dangerous; white; white; white; pious; queer; good;
 |      mature; white; Cape; great; wise; wise; butterless; white; fiendish;
 |      pale; furious; better; certain; complete; dismasted; younger; brave;
 |      brave; brave; brave
 |      >>> text9.findall("<th.*>{3,}")
 |      thread through those; the thought that; that the thing; the thing
 |      that; that that thing; through these than through; them that the;
 |      through the thick; them that they; thought that the
 |
 |      :param regexp: A regular expression
 |      :type regexp: str
 |
 |  generate(self, length=100, text_seed=None, random_seed=42)
 |      Print random text, generated using a trigram language model.
 |      See also `help(nltk.lm)`.
 |
 |      :param length: The length of text to generate (default=100)
 |      :type length: int
 |
 |      :param text_seed: Generation can be conditioned on preceding context.
 |      :type text_seed: list(str)
 |
 |      :param random_seed: A random seed or an instance of `random.Random`. If provided,
 |          makes the random sampling part of generation reproducible. (default=42)
 |      :type random_seed: int
 |
 |  index(self, word)
 |      Find the index of the first occurrence of the word in the text.
 |
 |  plot(self, *args)
 |      See documentation for FreqDist.plot()
 |      :seealso: nltk.prob.FreqDist.plot()
 |
 |  readability(self, method)
 |
 |  similar(self, word, num=20)
 |      Distributional similarity: find other words which appear in the
 |      same contexts as the specified word; list most similar words first.
 |
 |      :param word: The word used to seed the similarity search
 |      :type word: str
 |      :param num: The number of words to generate (default=20)
 |      :type num: int
 |      :seealso: ContextIndex.similar_words()
 |
 |  vocab(self)
 |      :seealso: nltk.prob.FreqDist
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

Concordances

In [53]:
aita_tokens.concordance('Canada', width=75)

Displaying 25 of 35 matches:
getting fictional novel published canada told canadian publishers rarely p
eternally grateful fiction writer canada recently finished length novel de
used self publish know impossible canada know published uk heard need agen
ee working depressingly low wages canada completely lost faith making livi
n novel sell american rights book canada canadian publishing long time que
idea starting small_press ontario canada like venture want research having
finding information small presses canada hard facts publishing industry ge
hy copies past year united_states canada little free libraries hopes promo
 stamp postage way live vancouver canada started writing novel character s
ite suited american market market canada understanding fairly small wo cau
arly limited ability freely visit canada thanks interested potentially goi
 build career academic publishing canada phd chemistry currently working i
ok wish delete isbn number remove canada books system forgive know exact t
e know exact terminology possible canada seeking literary_agent novel comp
s able advice publish short_story canada short_story bibliography mothers
 slice publishing world way banff canada personally local magazines read t
avakia chile france germany parts canada australian influence undoubtedly
shers ebooks sold users australia canada list price fixed net price falls
it car memory stay wait come live canada searching publishers post books a
tion published wanna distribution canada international hi hoping offer pra
city worked independent bookstore canada years years spent directly managi
le suppliers remainder books find canada search import usa kinda sucks hel
self publishing getting published canada best approaching publishers help
ct people work field particularly canada uk ask questions looking masters
simon fraser university vancouver canada big publishing scene vancouver sf

Collections

In [54]:
aita_tokens.collocation_list()

[('self', 'publishing'),
 ('publishing', 'house'),
 ('self', 'publish'),
 ('publishing', 'company'),
 ('publishing', 'houses'),
 ('feel', 'like'),
 ('let', 'know'),
 ('self', 'published'),
 ('publishing', 'industry'),
 ('children', 'book'),
 ('traditional', 'publishing'),
 ('publishing', 'companies'),
 ('best', 'way'),
 ('brick', 'mortar'),
 ('publish', 'book'),
 ('right', 'place'),
 ('feel', 'free'),
 ('help', 'appreciated'),
 ('dungeons', 'dragons'),
 ('thank', 'advance')]

Similar Words

In [55]:
aita_tokens.similar('agent')

editing good know self book published novel new lot reputable partner
let found right manuscript contact indie debut experience like

Common Context

In [58]:
aita_tokens.common_contexts(['novel', 'fiction'])

second_novel

Incorporating Time

In [59]:
datetimes = pd.to_datetime(df_posts_noBlanks['created'], unit='s')

In [60]:
df_posts_noBlanks.insert(loc=3, column='created_datetime', value=datetimes)
df_posts_noBlanks.head(3)

,idint,idstr,created,created_datetime,self,nsfw,author,title,lemmas,selftext,score,textlen,num_comments
7,23221158,t3_dtpk6,1287554803,2010-10-20 06:06:43,1,0,[deleted],I am a recent graduate with no experience in t...,industry experience publishing like enter fiel...,"I have no industry experience in publishing, b...",2,1007,5
12,25888930,t3_few0y,1296782293,2011-02-04 01:18:13,1,0,mostrasho,Help r/publishing! I just got offered a (volun...,editor offered fully aware coming directly col...,The editor who offered it is fully aware that ...,2,1027,2
17,29705825,t3_hop5t,1306892178,2011-06-01 01:36:18,1,0,YouveBeenOneUpped,Reprints - Are there average costs?,hey short excerpt reprints typically cost prof...,Hey All. How much do short excerpt reprints ty...,2,188,4

In [61]:
df_2021 = df_posts_noBlanks.loc[pd.DatetimeIndex(df_posts_noBlanks['created_datetime']).year == 2021, :]
len(df_2021)

357

In [62]:
df_2021.head(3)

,idint,idstr,created,created_datetime,self,nsfw,author,title,lemmas,selftext,score,textlen,num_comments
6693,1250620493,t3_kol4y5,1609541832,2021-01-01 22:57:12,1,0,7777777H,Is publisher likely to remove 'interactive' pa...,newbie roughly half kids picture book illustra...,Newbie here. I'm roughly half done with a kids...,2,962,5
6694,1250719153,t3_kon92p,1609548903,2021-01-02 00:55:03,1,0,jamalbarbari,Want to Traditionally Publish A Short Story An...,hello lovely writers publishers!its title deta...,Hello Lovely Writers/Publishers!\n\nIts all in...,4,1272,13
6695,1250921426,t3_korl5e,1609565044,2021-01-02 05:24:04,1,0,simianeditions,How to allow a writer to do Amazon Ads when I'...,small_press prepare design edit distribute boo...,"I have a small press. I prepare, design, edit,...",8,700,18

In [63]:
months_array = pd.DatetimeIndex(df_2021['created_datetime']).month_name()
months_array

Index(['January', 'January', 'January', 'January', 'January', 'January',
       'January', 'January', 'January', 'January',
       ...
       'July', 'July', 'July', 'July', 'July', 'July', 'July', 'July', 'July',
       'July'],
      dtype='object', name='created_datetime', length=357)