<a href="https://colab.research.google.com/github/meiqingli/dsss_summer2022/blob/main/dssj_publishing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 

# Github url with comments data
url_comments = 'https://gist.githubusercontent.com/meiqingli/5d83de4c508a0564359b2dd07c6839b1/raw/a83a44b0a85ac8ccc10f717495ff6a85c2f93878/comments.csv'

# Github url with post data
url_posts = 'https://gist.githubusercontent.com/meiqingli/2d128e1cac170d71b3820c51c6c3766e/raw/5be159378011713f1daaca4d683bb6875d11f61f/submissions.csv'

# Reads the csv comments file from github
df_comments = pd.read_csv(url_comments)

# Reads the csv posts file from github
df_posts = pd.read_csv(url_posts)

In [ ]:
# Tells us about the general shape of the dfs
df_comments.shape

(19538, 11)

In [ ]:
df_posts.shape

(7330, 18)

In [ ]:
# Shows us the first 5 rows in the dfs
df_comments.head()

,idint,idstr,created,author,parent,submission,body,score,subreddit,distinguish,textlen
0,26160907768,t1_c0nj1mg,1270490234,judycullins,t3_bmr3z,t3_bmr3z,8 great tips to start marketing your book onli...,1,publishing,NaN,68
1,26186732829,t1_c12wkd9,1287609142,inigo_montoya,t3_dtpk6,t3_dtpk6,I think it's extremely hard to find a salaried...,1,publishing,NaN,407
2,26186750085,t1_c12wxol,1287615269,[deleted],t1_c12wkd9,t3_dtpk6,"Honestly, I think I would be very happy either...",1,publishing,NaN,570
3,26186762112,t1_c12x6yo,1287619770,inigo_montoya,t1_c12wxol,t3_dtpk6,"Well, an acquisitions editor is a very differe...",1,publishing,NaN,926
4,26186949360,t1_c1317g0,1287704175,[deleted],t1_c12x6yo,t3_dtpk6,"Yes, ""not panning out"" is precisely where I am...",1,publishing,NaN,315

In [ ]:
df_posts.head()

,idint,idstr,created,self,nsfw,author,title,url,selftext,score,subreddit,distinguish,textlen,num_comments,flair_text,flair_css_class,augmented_at,augmented_count
0,12378361,t3_7db7d,1226647810,0,0,soulajax,Do-It-Yourself Book Press,http://nomediakings.org/doityourself/doityours...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN
1,16624895,t3_9wbun,1256143924,0,0,bookmarked,Blending the Old with the New: Backlist Titles...,http://www.thomasriggs.net/blog/index.php/2009...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN
2,17431958,t3_adml2,1260547827,0,0,bookmarked,A Little Something Extra,http://www.thomasriggs.net/blog/index.php/2009...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN
3,18945157,t3_ba26d,1267893136,0,1,editrixabby,The Private Collection 1970-1979 (NSFW),http://carnalnation.com/content/49457/501/priv...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN
4,19194572,t3_bfemk,1268992280,0,0,samuel123,Ebook Creation &amp; conversion Services,http://www.siliconchips-services.com/ebook-cre...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN

In [ ]:
# Allows us to see which columns our dfs have
list(df_comments)

['idint',
 'idstr',
 'created',
 'author',
 'parent',
 'submission',
 'body',
 'score',
 'subreddit',
 'distinguish',
 'textlen']

In [ ]:
list(df_posts)

['idint',
 'idstr',
 'created',
 'self',
 'nsfw',
 'author',
 'title',
 'url',
 'selftext',
 'score',
 'subreddit',
 'distinguish',
 'textlen',
 'num_comments',
 'flair_text',
 'flair_css_class',
 'augmented_at',
 'augmented_count']

In [ ]:
# We can put whatever columns we may want to drop here--ours will look different than the sample from class
# df_comments = df_comments.drop(['self', 'url', 'subreddit', 'augmented_at', 'augmented_count'], axis=1)