<a href="https://colab.research.google.com/github/meiqingli/dssj_summer2022/blob/main/dssj_publishing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data preprocessing (based on module 02 notebook 1)

In [ ]:
# Imports pandas for working with csv data
import pandas as pd 

# Github url with comments data
url_comments = 'https://gist.githubusercontent.com/meiqingli/5d83de4c508a0564359b2dd07c6839b1/raw/a83a44b0a85ac8ccc10f717495ff6a85c2f93878/comments.csv'

# Github url with post data
url_posts = 'https://gist.githubusercontent.com/meiqingli/2d128e1cac170d71b3820c51c6c3766e/raw/5be159378011713f1daaca4d683bb6875d11f61f/submissions.csv'

# Reads the csv comments file from github
df_comments = pd.read_csv(url_comments)

# Reads the csv posts file from github
df_posts = pd.read_csv(url_posts)

In [ ]:
# Tells us about the general shape of the dfs
df_comments.shape

(19538, 11)

In [ ]:
df_posts.shape

(7330, 18)

In [ ]:
# Shows us the first 5 rows in the dfs
df_comments.head()

,idint,idstr,created,author,parent,submission,body,score,subreddit,distinguish,textlen
0,26160907768,t1_c0nj1mg,1270490234,judycullins,t3_bmr3z,t3_bmr3z,8 great tips to start marketing your book onli...,1,publishing,NaN,68
1,26186732829,t1_c12wkd9,1287609142,inigo_montoya,t3_dtpk6,t3_dtpk6,I think it's extremely hard to find a salaried...,1,publishing,NaN,407
2,26186750085,t1_c12wxol,1287615269,[deleted],t1_c12wkd9,t3_dtpk6,"Honestly, I think I would be very happy either...",1,publishing,NaN,570
3,26186762112,t1_c12x6yo,1287619770,inigo_montoya,t1_c12wxol,t3_dtpk6,"Well, an acquisitions editor is a very differe...",1,publishing,NaN,926
4,26186949360,t1_c1317g0,1287704175,[deleted],t1_c12x6yo,t3_dtpk6,"Yes, ""not panning out"" is precisely where I am...",1,publishing,NaN,315

In [ ]:
df_posts.head()

,idint,idstr,created,self,nsfw,author,title,url,selftext,score,subreddit,distinguish,textlen,num_comments,flair_text,flair_css_class,augmented_at,augmented_count
0,12378361,t3_7db7d,1226647810,0,0,soulajax,Do-It-Yourself Book Press,http://nomediakings.org/doityourself/doityours...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN
1,16624895,t3_9wbun,1256143924,0,0,bookmarked,Blending the Old with the New: Backlist Titles...,http://www.thomasriggs.net/blog/index.php/2009...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN
2,17431958,t3_adml2,1260547827,0,0,bookmarked,A Little Something Extra,http://www.thomasriggs.net/blog/index.php/2009...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN
3,18945157,t3_ba26d,1267893136,0,1,editrixabby,The Private Collection 1970-1979 (NSFW),http://carnalnation.com/content/49457/501/priv...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN
4,19194572,t3_bfemk,1268992280,0,0,samuel123,Ebook Creation &amp; conversion Services,http://www.siliconchips-services.com/ebook-cre...,NaN,1,publishing,NaN,0,0,NaN,NaN,NaN,NaN

In [ ]:
# Allows us to see which columns our dfs have
list(df_comments)

['idint',
 'idstr',
 'created',
 'author',
 'parent',
 'submission',
 'body',
 'score',
 'subreddit',
 'distinguish',
 'textlen']

In [ ]:
list(df_posts)

['idint',
 'idstr',
 'created',
 'self',
 'nsfw',
 'author',
 'title',
 'url',
 'selftext',
 'score',
 'subreddit',
 'distinguish',
 'textlen',
 'num_comments',
 'flair_text',
 'flair_css_class',
 'augmented_at',
 'augmented_count']

In [ ]:
# Drops less useful columns from our dfs
# Made new dfs rather than overwriting the originals in case people have different thoughts about what to drop
# 'distinguish' column identifies whether the poster is a moderator, which is potentially interesting, but it's almost always empty so I dropped it
df_comments_short = df_comments.drop(['subreddit', 'distinguish'], axis=1)

In [ ]:
df_posts_short = df_posts.drop(['subreddit', 'url', 'distinguish', 'flair_text', 'flair_css_class', 'augmented_at', 'augmented_count'], axis=1)

In [ ]:
# To visualize the new dfs
df_comments_short.head()

,idint,idstr,created,author,parent,submission,body,score,textlen
0,26160907768,t1_c0nj1mg,1270490234,judycullins,t3_bmr3z,t3_bmr3z,8 great tips to start marketing your book onli...,1,68
1,26186732829,t1_c12wkd9,1287609142,inigo_montoya,t3_dtpk6,t3_dtpk6,I think it's extremely hard to find a salaried...,1,407
2,26186750085,t1_c12wxol,1287615269,[deleted],t1_c12wkd9,t3_dtpk6,"Honestly, I think I would be very happy either...",1,570
3,26186762112,t1_c12x6yo,1287619770,inigo_montoya,t1_c12wxol,t3_dtpk6,"Well, an acquisitions editor is a very differe...",1,926
4,26186949360,t1_c1317g0,1287704175,[deleted],t1_c12x6yo,t3_dtpk6,"Yes, ""not panning out"" is precisely where I am...",1,315

In [ ]:
df_comments_short.shape

(19538, 9)

In [ ]:
df_posts_short.head()

,idint,idstr,created,self,nsfw,author,title,selftext,score,textlen,num_comments
0,12378361,t3_7db7d,1226647810,0,0,soulajax,Do-It-Yourself Book Press,NaN,1,0,0
1,16624895,t3_9wbun,1256143924,0,0,bookmarked,Blending the Old with the New: Backlist Titles...,NaN,1,0,0
2,17431958,t3_adml2,1260547827,0,0,bookmarked,A Little Something Extra,NaN,1,0,0
3,18945157,t3_ba26d,1267893136,0,1,editrixabby,The Private Collection 1970-1979 (NSFW),NaN,1,0,0
4,19194572,t3_bfemk,1268992280,0,0,samuel123,Ebook Creation &amp; conversion Services,NaN,1,0,0

In [ ]:
df_posts_short.shape

(7330, 11)

In [ ]:
# Selects all rows that don't have 'removed' or 'deleted' in certain columns
df_comments_noBlanks = df_comments_short.loc[~df_comments_short['body'].isin(['[removed]', '[deleted]' ]),:]
df_posts_noBlanks = df_posts_short.loc[~df_posts_short['selftext'].isin(['[removed]', '[deleted]' ]),:]

In [ ]:
df_comments_noBlanks.shape
# Shows that 483 rows were removed

(19055, 9)

In [ ]:
df_posts_noBlanks.shape
# Shows that 1,174 rows were removed

(6156, 11)

In [ ]:
# Drops rows with null values in 'selftext' column (assuming we want to analyze 'selftext')
# Overwrites the previous dfs because I don't think we'll need access to the intermediate dfs (and I was running out of name ideas)
df_comments_noBlanks = df_comments_noBlanks.dropna(subset=['body'])
df_posts_noBlanks = df_posts_noBlanks.dropna(subset=['selftext'])

In [ ]:
df_comments_noBlanks.head()

,idint,idstr,created,author,parent,submission,body,score,textlen
0,26160907768,t1_c0nj1mg,1270490234,judycullins,t3_bmr3z,t3_bmr3z,8 great tips to start marketing your book onli...,1,68
1,26186732829,t1_c12wkd9,1287609142,inigo_montoya,t3_dtpk6,t3_dtpk6,I think it's extremely hard to find a salaried...,1,407
2,26186750085,t1_c12wxol,1287615269,[deleted],t1_c12wkd9,t3_dtpk6,"Honestly, I think I would be very happy either...",1,570
3,26186762112,t1_c12x6yo,1287619770,inigo_montoya,t1_c12wxol,t3_dtpk6,"Well, an acquisitions editor is a very differe...",1,926
4,26186949360,t1_c1317g0,1287704175,[deleted],t1_c12x6yo,t3_dtpk6,"Yes, ""not panning out"" is precisely where I am...",1,315

In [ ]:
df_comments_noBlanks.shape
# Shows that 1 more row was removed

(19054, 9)

In [ ]:
df_posts_noBlanks.head()

,idint,idstr,created,self,nsfw,author,title,selftext,score,textlen,num_comments
7,23221158,t3_dtpk6,1287554803,1,0,[deleted],I am a recent graduate with no experience in t...,"I have no industry experience in publishing, b...",2,1007,5
12,25888930,t3_few0y,1296782293,1,0,mostrasho,Help r/publishing! I just got offered a (volun...,The editor who offered it is fully aware that ...,2,1027,2
17,29705825,t3_hop5t,1306892178,1,0,YouveBeenOneUpped,Reprints - Are there average costs?,Hey All. How much do short excerpt reprints ty...,2,188,4
62,40519459,t3_o4h0j,1325799133,1,0,hobbitlover,Need a writing program that works in InDesign ...,We use Microsoft Word at our office but it cre...,3,579,3
63,40711806,t3_o8lfi,1326069991,1,0,[deleted],Online ebook cover creator recommendations,"Hey guys,\n\nAny good recommendations on where...",1,75,1

In [ ]:
df_posts_noBlanks.shape
# Shows that 3,768 more rows were removed

(2388, 11)

## Cleaning text data (based on module 02 notebook 1)

Text data collected in the real world is always going to be variable, which poses a challenge for analysis. But by reducing some of this variation, we can help improve our results. For example, if we are counting instances of the word `"weather"` in text, we might want the strings `"weather"`, `"weather."`, and `"Weather"` to all be counted as instances of the same word. However, in raw text form, these would be treated as separate strings. By performing text cleaning, we can standardize these cases and make our data easier to analyze. Some common preprocessing steps are:

- Removing punctuation
- Removing URLs
- Removing stopwords (non-content words like "a", "the", "is", etc.)
- Lowercasing
- Tokenization (e.g., splitting a sentence into distinct "chunks" or "tokens")
- Stemming, or removing the ends of words (e.g., places -> place)
- Lemmatization, or changing words to 'dictionary form' (e.g., runs, running, run -> run)

Fortunately, we don't need to code every one of these steps. Instead, we will use a package called [spaCy](https://spacy.io/) to do these things. If the text you'd like to process is general-purpose English language text (i.e., not domain-specific, like medical literature), `spaCy` is ready to use out-of-the-box. We will use the [`en_core_web_sm`](https://spacy.io/models/en/#en_core_web_sm) pipeline to cover the steps listed above.

In [ ]:
df_posts_noBlanks.head()

,idint,idstr,created,self,nsfw,author,title,selftext,score,textlen,num_comments
7,23221158,t3_dtpk6,1287554803,1,0,[deleted],I am a recent graduate with no experience in t...,"I have no industry experience in publishing, b...",2,1007,5
12,25888930,t3_few0y,1296782293,1,0,mostrasho,Help r/publishing! I just got offered a (volun...,The editor who offered it is fully aware that ...,2,1027,2
17,29705825,t3_hop5t,1306892178,1,0,YouveBeenOneUpped,Reprints - Are there average costs?,Hey All. How much do short excerpt reprints ty...,2,188,4
62,40519459,t3_o4h0j,1325799133,1,0,hobbitlover,Need a writing program that works in InDesign ...,We use Microsoft Word at our office but it cre...,3,579,3
63,40711806,t3_o8lfi,1326069991,1,0,[deleted],Online ebook cover creator recommendations,"Hey guys,\n\nAny good recommendations on where...",1,75,1

In [ ]:
# Imports spaCy
import spacy

# Loads the English preprocessing pipeline
nlp = spacy.load('en_core_web_sm')

# Parses the first r/publishing post
parsed_post = nlp(df_posts_noBlanks.selftext.iloc[0])
print(parsed_post)

I have no industry experience in publishing, but would very much like to enter the field - specifically, editing. It seems as if the usual catch-22 holds true: to get the job, you need experience; to get experience, you need a job. Finding entry-level work is proving very difficult. I live in Baltimore, MD and I feel that I've exhausted the obvious avenues, sending my resume and cover letter to every magazine, newspaper, publishing house, etc., that I can locate.

I am not opposed to internships, of course, but as I am not a college student, I tend to be excluded from consideration. Additionally, I have to support myself and so work-for-pay, in an obvious sense, takes priority.

I realize that there are only 10 readers in this subreddit, so this really is a shot in the dark, but I could use some advice from persons familiar with the industry. I've considered, as well, sending out a few emails to editors whose blogs I read, asking them for similar guidance. Would this be perceived as brazen?